<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/naturalaesthetics</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password">root</property>
      <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>


      <!-- MYSQL for PRODUCTION environment -->

      <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="hibernate.connection.url">jdbc:mysql://url</property>
       <property name="hibernate.connection.username">user</property>
       <property name="hibernate.connection.password">password-</property>
       <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  -->


      <property name="hibernate.hbm2ddl.auto">update</property>

      <mapping class="ch.naturalaesthetics.persistence.NewsEntity"/>

  </session-factory>
</hibernate-configuration>